/*
    Defines all remaining styles for the Red Ball Pizza web page.

    Author: Seadrah Berger
    Date: 8/12/2024
    File: other.css
 */

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "head head head"
    "hnav hnav hnav"
    "vnav main aside"
    "vnav main aside"
    "footer footer footer";

  background-image: url("images/parlor.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

header {
  grid-area: head;
}

header img {
  width: 100%;
}

nav.horizontal {
  grid-area: hnav;
}

nav.horizontal ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  gap: 25px;
  margin-left: 10px;
}

nav.vertical {
  grid-area: vnav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 15px;
  gap: 10px;
}

nav.vertical ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav.vertical li {
  color: white;
  background: linear-gradient(to right, rgb(165, 31, 31), transparent);
  padding-left: 5px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav.vertical li a {
  color: white;
}

main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  border-left: 3px solid rgb(165, 31, 31);
  border-right: 3px solid rgb(165, 31, 31);
  background-color: white;
}

main article {
  margin: 30px 30px;
}

section#deals {
  align-self: center;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: space-around;
  align-items: space-around;

  gap: 20px;
  margin-bottom: 30px;
}

section#deals div {
  border: 3px dashed rgb(197, 38, 38);
  padding-bottom: 10px;
}

section#deals div:nth-child(odd) {
  background-color: rgb(253, 189, 189);
}

section#deals div h1 {
  padding: 5px;
}

section#deals div p {
  margin: 20px 10px;
  margin-bottom: 0;
}

section#deals div p:nth-child(3) {
  font-weight: bold;
}

aside {
  grid-area: aside;
  margin: 20px;
}

aside h1 {
  font-weight: bold;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside ul li {
  font-size: 0.9rem;
  border: 2px solid rgb(197, 38, 38);
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(
    to right,
    rgb(215, 225, 235),
    60%,
    rgb(238, 130, 130)
  );

  box-shadow: 5px 5px 20px;
}

footer {
  grid-area: footer;
}
